/*      Font-style       */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Noto+Sans+TC:wght@100&family=Playball&family=Raleway:ital,wght@1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Noto+Sans+TC:wght@100&display=swap");
/*      Scss      */
* {
  margin: 0;
  padding: 0;
  font-size: 16px; }

.main-wrapper {
  background-image: linear-gradient(#f1d8b2, rgba(241, 216, 178, 0.548), #f1d8b2);
  min-width: 320px; }

header {
  background-color: #f1d8b2;
  border: solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: sticky;
  top: 0%;
  z-index: 99; }
  header .logo {
    grid-column: 1;
    display: flex;
    justify-content: center; }
    header .logo a img {
      height: 5rem;
      padding-top: 0.5rem;
      animation-name: girar;
      animation-duration: 5s;
      animation-delay: 2s;
      animation-iteration-count: infinite; }
      @media screen and (min-width: 375px) {
        header .logo a img {
          height: 6rem;
          padding: 1rem; } }
  header .titulo, header .main-wrapper h3, .main-wrapper header h3, header .main-wrapper .header-style, .main-wrapper header .header-style {
    grid-column: 2;
    display: flex;
    font-family: 'Dancing Script', cursive;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header .titulo h1, header .main-wrapper h3 h1, .main-wrapper header h3 h1, header .main-wrapper .header-style h1, .main-wrapper header .header-style h1 {
      font-size: 1.5rem; }
      @media screen and (min-width: 768px) {
        header .titulo h1, header .main-wrapper h3 h1, .main-wrapper header h3 h1, header .main-wrapper .header-style h1, .main-wrapper header .header-style h1 {
          font-size: 2rem; } }
    header .titulo h2, header .main-wrapper h3 h2, .main-wrapper header h3 h2, header .main-wrapper .header-style h2, .main-wrapper header .header-style h2 {
      font-size: 0.9rem;
      text-align: center; }
      @media screen and (min-width: 768px) {
        header .titulo h2, header .main-wrapper h3 h2, .main-wrapper header h3 h2, header .main-wrapper .header-style h2, .main-wrapper header .header-style h2 {
          font-size: 1.5rem; } }
  header nav {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 0.3rem 0.3rem 0; }
    @media screen and (min-width: 1024px) {
      header nav {
        padding: 0; }
        header nav .navbar-toggler-icon {
          display: none; } }
    header nav .header-button {
      background-color: transparent;
      border: none; }
    header nav .header-button::after {
      content: none !important; }
    header nav .dropdown-menu {
      background-color: #f1d8b2; }
      @media screen and (min-width: 1024px) {
        header nav .dropdown-menu {
          position: static;
          border: none;
          padding: 0rem; } }
    header nav .dropdown-menu[data-bs-popper] {
      top: 70%;
      right: 0rem;
      left: auto; }
    header nav ul {
      display: flex; }
      @media screen and (min-width: 1024px) {
        header nav ul {
          display: flex !important;
          margin-right: 0.5rem !important;
          flex-direction: row;
          flex-wrap: nowrap !important; }
          header nav ul li:hover {
            border-bottom: 2px solid black; } }
      @media screen and (min-width: 1200px) {
        header nav ul {
          margin-right: 1rem; } }
      header nav ul .nav-link {
        color: black;
        text-decoration: none;
        font-size: 15px; }
        @media screen and (min-width: 768px) {
          header nav ul .nav-link {
            padding: 2px; } }
        @media screen and (min-width: 1200px) {
          header nav ul .nav-link {
            padding: 5px; } }

@keyframes girar {
  100% {
    transform: rotateY(360deg); } }

.main-wrapper {
  /*       Contacto      */
  /*      Servicios        */
  /*      Galeria      */
  /*      Galeria      */ }
  .main-wrapper .nosotros-section {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-wrapper .p-style {
    font-family: 'Raleway', sans-serif;
    max-width: 35rem;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .main-wrapper .p-style {
        max-width: 60rem; } }
    @media screen and (min-width: 1024px) {
      .main-wrapper .p-style {
        padding-top: 20px;
        max-width: 50rem;
        text-align: left; } }
    @media screen and (min-width: 1200px) {
      .main-wrapper .p-style {
        max-width: 45rem; } }
  .main-wrapper .titulo, .main-wrapper h3, .main-wrapper .header-style {
    font-family: 'Dancing Script', cursive; }
  .main-wrapper h3 {
    font-style: italic;
    padding: 0.5rem 0 0.5rem 0;
    font-size: 20px;
    text-decoration: underline dotted black;
    align-self: center; }
    @media screen and (min-width: 375px) {
      .main-wrapper h3 {
        padding: 15px 0px;
        font-size: 25px; } }
    @media screen and (min-width: 768px) {
      .main-wrapper h3 {
        padding: 1.3rem 0;
        font-size: 40px; } }
  .main-wrapper .width {
    width: auto; }
    @media screen and (min-width: 1024px) {
      .main-wrapper .width {
        width: 100%; } }
  .main-wrapper .column-mob {
    flex-direction: column; }
  .main-wrapper .img-especialidad {
    width: 300px;
    height: 300px;
    justify-self: center;
    border: solid black; }
  .main-wrapper .header-style {
    font-size: 25px;
    text-decoration: underline black;
    text-align: center;
    padding: 0.5rem 0 0.2rem 0; }
    @media screen and (min-width: 768px) {
      .main-wrapper .header-style {
        padding-top: 1rem;
        font-size: 30px; } }
    @media screen and (min-width: 1024px) {
      .main-wrapper .header-style {
        padding: 0rem;
        text-align: left; } }
  .main-wrapper .p-especialidad {
    padding-top: 1rem; }
    @media screen and (min-width: 768px) {
      .main-wrapper .p-especialidad {
        padding: 1rem 0rem 0rem 0rem; } }
    @media screen and (min-width: 1024px) {
      .main-wrapper .p-especialidad {
        padding: 2rem 2rem 0rem 0rem;
        max-width: 60rem; } }
  .main-wrapper .center {
    text-align: center; }
  .main-wrapper .fieldset-contact {
    display: flex;
    justify-content: center;
    border: double; }
    @media screen and (min-width: 768px) {
      .main-wrapper .fieldset-contact {
        justify-content: center;
        margin: 0 5rem; } }
    @media screen and (min-width: 1024px) {
      .main-wrapper .fieldset-contact {
        margin: 0 4rem;
        padding: 0 1rem; } }
  .main-wrapper .fieldset-button-box {
    display: flex;
    grid-column: 2;
    justify-content: end;
    padding: 0.5rem 0; }
  .main-wrapper .fieldset-button {
    font-size: 13px;
    margin-left: 0.5rem; }
    @media screen and (min-width: 375px) {
      .main-wrapper .fieldset-button {
        font-size: 16px;
        margin-left: 0.5rem; } }
  .main-wrapper .btn-primary:active {
    color: #fff;
    background-color: #42470e;
    border-color: #42470e; }
  .main-wrapper .btn-primary:focus {
    background-color: #42470e;
    border-color: #42470e;
    box-shadow: 0 0 0 0.25rem rgba(247, 246, 245, 0.658); }
  .main-wrapper .form-contact {
    width: 80%; }
  .main-wrapper .contact-imput {
    width: 9rem; }
    @media screen and (min-width: 375px) {
      .main-wrapper .contact-imput {
        width: 10rem; } }
  .main-wrapper .contact-form-label {
    padding-left: 0.5rem; }
  .main-wrapper .contact-textarea {
    height: 5rem;
    width: 9rem; }
    @media screen and (min-width: 375px) {
      .main-wrapper .contact-textarea {
        width: 12rem; } }
    @media screen and (min-width: 768px) {
      .main-wrapper .contact-textarea {
        width: 26rem; } }
    @media screen and (min-width: 1024px) {
      .main-wrapper .contact-textarea {
        width: 44rem; } }
  .main-wrapper .mapa {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-wrapper .img-servicios {
    width: 80%;
    height: 100%;
    padding-top: 1rem; }
  .main-wrapper .art-servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem; }
  .main-wrapper .p-servicios {
    text-align: center;
    margin: 0;
    padding-top: 1rem; }
    @media screen and (min-width: 375px) {
      .main-wrapper .p-servicios {
        margin: 0 2rem; } }
    @media screen and (min-width: 768px) {
      .main-wrapper .p-servicios {
        margin: 0 5rem; } }
    @media screen and (min-width: 1024px) {
      .main-wrapper .p-servicios {
        margin: 0 3rem; } }
    @media screen and (min-width: 1200px) {
      .main-wrapper .p-servicios {
        margin: 0 5rem; } }
  .main-wrapper .carousel-width {
    width: 15rem;
    padding-top: 1rem; }
    @media screen and (min-width: 375px) {
      .main-wrapper .carousel-width {
        width: 20rem; } }
    @media screen and (min-width: 768px) {
      .main-wrapper .carousel-width {
        width: 21rem; } }
    @media screen and (min-width: 1024px) {
      .main-wrapper .carousel-width {
        width: 25rem; } }
  .main-wrapper .galery-img-scale {
    width: 15rem;
    height: 15rem; }
    @media screen and (min-width: 375px) {
      .main-wrapper .galery-img-scale {
        width: 20rem;
        height: 20rem; } }
    @media screen and (min-width: 768px) {
      .main-wrapper .galery-img-scale {
        width: 21rem;
        height: 21rem; } }
    @media screen and (min-width: 1024px) {
      .main-wrapper .galery-img-scale {
        width: 25rem;
        height: 25rem; } }
  .main-wrapper .flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-wrapper .f-col {
    flex-direction: column; }
  .main-wrapper .pad-0 {
    padding: 0 !important; }
  .main-wrapper .promo-img-scale {
    width: 15rem;
    height: 100%;
    padding: 0; }
    @media screen and (min-width: 375px) {
      .main-wrapper .promo-img-scale {
        width: 20rem;
        padding: 0; } }
    @media screen and (min-width: 1200px) {
      .main-wrapper .promo-img-scale {
        height: 100%; } }
  .main-wrapper .col-promo {
    display: flex;
    justify-content: center;
    padding-right: 0rem; }
    @media screen and (min-width: 1024px) {
      .main-wrapper .col-promo {
        justify-content: end;
        padding-right: 2rem; } }
  .main-wrapper .row-promo {
    padding: 0 0 2rem 0; }
  .main-wrapper .col-promo-txt {
    display: flex;
    flex-direction: column;
    align-items: center; }
  @media screen and (min-width: 1024px) {
    .main-wrapper {
      /*      Galeria      */ }
      .main-wrapper .d-block-1024 {
        display: block; }
      .main-wrapper .row-desk {
        flex-direction: row; }
      .main-wrapper .d-block-row {
        display: block;
        flex-direction: row; }
      .main-wrapper .f-row {
        flex-direction: row; }
      .main-wrapper .ps-3 {
        padding-left: 1rem !important; } }

footer .div-fot {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 4rem; }

footer .display-inline {
  display: inline; }

footer .li-fot {
  padding-right: 1rem; }

footer .a-fot {
  text-decoration: none; }
