.main-wrapper{
    @mixin centered-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nosotros-section{
        @include centered-column;
    }
    .p-nosotros-index{
        @extend .p-style;
        text-align: center !important; 
    }
    .p-style{
        font-family: 'Raleway', sans-serif;
        max-width: 35rem;
        text-align: center;

        @include for-breakpoint(l){
            max-width: 60rem;
        }
        @include for-breakpoint(xl){
            padding-top: 20px;
            max-width: 50rem;
            text-align: left;
        }
        @include for-breakpoint(xxl){
            max-width: 45rem;
        }
    }
    .titulo{
        font-family: 'Dancing Script', cursive ;
    }
    h3{
        @extend .titulo;
        font-style: italic;
        padding: 0.5rem 0 0.5rem 0;
        font-size: 20px;
        text-decoration: underline dotted black;
        align-self: center;

        @include for-breakpoint(m){
            padding: 15px 0px;
            font-size: 25px;
        }
        @include for-breakpoint(l){
            padding: 1.3rem 0;
            font-size: 40px;
        }
    }
    .width{
        width: auto;

        @include for-breakpoint(xl){
            width: 100%;
        }
    }
    .column-mob{
        flex-direction: column;
    }
    .img-especialidad{
        width: 300px;
        height: 300px;
        justify-self: center;
        border: solid black;
    }
    .header-style{
        @extend .titulo;
        font-size: 25px;
        text-decoration: underline black;
        text-align: center;
        padding: 0.5rem 0 0.2rem 0;

        @include  for-breakpoint(l){
            padding-top: 1rem;
            font-size: 30px;
        }
        @include  for-breakpoint(xl){
            padding: 0rem;
            text-align: left;
        }
    }
    .p-especialidad{
        padding-top: 1rem;

        @include for-breakpoint(l){
            padding: 1rem 0rem 0rem 0rem;
        }
        @include for-breakpoint(xl){
            padding: 2rem 2rem 0rem 0rem;
            max-width: 60rem;
        }
    }
    .center{
        text-align: center;
    }  
    /*       Contacto      */
    .fieldset-contact{
        display: flex;
        justify-content: center;
        border: double;

        @include for-breakpoint(l){
            justify-content: center;
            margin: 0 5rem;
        }
        @include for-breakpoint(xl){
            margin: 0 4rem;
            padding: 0 1rem;
        }
    }
    .fieldset-button-box{
        display: flex;
        grid-column: 2;
        justify-content: end;
        padding: 0.5rem 0;
    }
    .fieldset-button{
        font-size: 13px;
        margin-left: 0.5rem;

        @include for-breakpoint(m){
            font-size: 16px;
            margin-left: 0.5rem;
        }
    }
    .btn-primary:active{
        color: #fff;
        background-color: #42470e;
        border-color: #42470e;
    }
    .btn-primary:focus {
        background-color: #42470e;
        border-color: #42470e;
        box-shadow: 0 0 0 0.25rem rgba(247, 246, 245, 0.658);
    }
    .form-contact{
        width: 80%;
    }
    .contact-imput{
        width: 9rem;

        @include for-breakpoint(m){
            width: 10rem;
        }
    }
    .contact-form-label{
        padding-left: 0.5rem;
    }
    .contact-textarea{
        height: 5rem;
        width: 9rem;

        @include for-breakpoint(m){
            width: 12rem;
        }
        @include for-breakpoint(l){
            width: 26rem;
        }
        @include for-breakpoint(xl){
            width: 44rem;
        }
    }
    .mapa{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*      Servicios        */
    .img-servicios {
        width: 80%;
        height: 100%;
        padding-top: 1rem;    
    }
    .art-servicios {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;   
    }
    .p-servicios {
        font-family: 'Raleway', sans-serif;
        text-align: center; 
        margin: 0;
        padding-top: 1rem;
        width: 80%;
    }
    /*      Galeria      */
    .carousel-width{
        width: 15rem;
        padding-top: 1rem;

        @include for-breakpoint(m){
            width: 20rem;
        }
        @include for-breakpoint(l){
            width: 21rem;
        }
        @include for-breakpoint(xl){
            width: 25rem;
        }
    }
    .galery-img-scale {
        width: 15rem;
        height: 15rem;

        @include for-breakpoint(m){
            width: 20rem;
            height: 20rem;
        }
        @include for-breakpoint(l){
            width: 21rem;
            height: 21rem;
        }
        @include for-breakpoint(xl){
            width: 25rem;
            height: 25rem;
        }
    }
    .flex-column-center{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .f-col{
        flex-direction: column;
    }
    .pad-0{
        padding: 0 !important;
    }
    /*      Galeria      */
    .promo-img-scale {
        width: 15rem;
        height: 100%;
        padding: 0;

        @include for-breakpoint(m){
            width: 20rem;
            padding: 0;
        }
        @include for-breakpoint(xxl){
            height: 100%;
        }
    }
    .col-promo{
        display: flex;
        justify-content: center;
        padding-right: 0rem;

        @include for-breakpoint(xl){
            justify-content: end;
            padding-right: 2rem;
        }
    }
    .row-promo{
        padding: 0 0 2rem 0;
    }
    .col-promo-txt {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include for-breakpoint(xl){
        .d-block-1024{
            display: block;
        }
        .row-desk{
            flex-direction: row;
        }
            /*      Galeria      */
        .d-block-row{
            display: block;
            flex-direction: row;
        }
        .f-row{
            flex-direction: row;
        }
        .ps-3{
            padding-left: 1rem !important;
        }
    }
}