.main-wrapper{
    @mixin centered-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nosotros-section{
        @include centered-column;
    }
    .p-style{
        font-family: 'Raleway', sans-serif;
        max-width: 17rem;
        text-align: center;
    }
    .titulo{
        font-family: 'Dancing Script', cursive ;
    }
    h3{
        @extend .titulo;
        font-style: italic;
        padding: 0.5rem 0 0.5rem 0;
        font-size: 20px;
        text-decoration: underline dotted black;
        align-self: center;
    }
    .width{
        width: auto;
    }
    .column-mob{
        flex-direction: column;
    }
    .img-especialidad{
        width: 300px;
        height: 300px;
        justify-self: center;
        border: solid black;
    }
    .header-style{
        @extend .titulo;
        font-size: 25px;
        text-decoration: underline black;
        text-align: center;
        padding: 0.5rem 0 0.2rem 0;
    }
    .p-especialidad{
        padding-top: 1rem;
        max-width: 45rem;
    }
    .center{
        text-align: center;
    }  
    /*       Contacto      */
    .fieldset-contact{
        display: flex;
        justify-content: center;
        border: double;
    }
    .fieldset-button-box{
        display: flex;
        grid-column: 2;
        justify-content: end;
        padding: 0.5rem 0;
    }
    .fieldset-button{
        font-size: 13px;
        margin-left: 0.5rem;
    }
    .btn-primary:active{
        color: #fff;
        background-color: #42470e;
        border-color: #42470e;
    }
    .form-contact{
        width: 80%;
    }
    .contact-imput{
        width: 9rem;
    }
    .contact-form-label{
        padding-left: 0.5rem;
    }
    .contact-textarea{
        height: 5rem;
        width: 9rem;
    }
    .mapa{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*      Servicios        */
    .img-servicios {
        width: 80%;
        height: 100%;
        padding-top: 1rem;    
    }
    .art-servicios {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;   
    }
    .p-servicios {
        text-align: center; 
        margin: 0;
        padding-top: 1rem;
    }
    /*      Galeria      */
    .carousel-width{
        width: 15rem;
        padding-top: 1rem;
    }
    .galery-img-scale {
        width: 15rem;
        height: 15rem;
    }
    .flex-column-center{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .f-col{
        flex-direction: column;
    }
    .pad-0{
        padding: 0 !important;
    }
    /*      Galeria      */
    .promo-img-scale {
        width: 15rem;
        height: 100%;
        padding: 0;
    }
    .col-promo{
        display: flex;
        justify-content: center;
        padding-right: 0rem;
    }
    .row-promo{
        padding: 0 0 1rem 0;
    }
    .jf-cont {
        justify-content: center;
    }
    .col-promo-txt {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: map-get($breakpoints, 375)) {
    .main-wrapper { 
        h3 {
            padding: 15px 0px;
            font-size: 25px;
        }
         /*    Field set  */
        .fieldset-button{
            font-size: 16px;
            margin-left: 0.5rem;
        }
        .contact-imput{
            width: 10rem;
        }
        .contact-textarea{
            height: 5rem;
            width: 12rem;
        } 
         /*      Servicios       */
        .p-servicios {
            margin: 0 2rem;;
        }
        /*      Galeria      */
        .galery-img-scale {
            width: 20rem;
            height: 20rem;
        }
        .carousel-width {
            width: 20rem;
        }
        /*      Promociones       */
        .promo-img-scale {
            width: 20rem;
            padding: 0;
        }
    }
}
@media screen and (min-width: map-get($breakpoints, 768)) {
    .main-wrapper {
        .p-style{
            max-width: 35rem;
        }
        h3 {
            padding: 1.3rem 0;
            font-size: 40px;
        }
        .header-style{
            padding-top: 1rem;
            font-size: 30px;
        }
        .p-especialidad{
            padding: 1rem 0rem 0rem 0rem;
        }
        /*    Field set  */
        .fieldset-contact{
            justify-content: center;
            margin: 0 5rem;
        }
        .fieldset-button{
            font-size: 16px;
            margin-left: 0.5rem;
        }
        .contact-textarea{
            height: 5rem;
            width: 26rem;
        }
        /*      Servicios        */
        .p-servicios {
            margin: 0 5rem;;
        }
        /*      Galeria      */
        .carousel-width {
            width: 21rem;
        }
        .galery-img-scale{
            width: 21rem;
            height: 21rem;
        }
    }    
}
@media screen and (min-width: map-get($breakpoints, 1024)) {
    .main-wrapper {
        .d-block-1024{
            display: block;
        }
        .width{
            width: 100%;
        }
        .row-desk{
            flex-direction: row;
        }
        .p-style{
            padding-top: 20px;
            max-width: 50rem;
            text-align: left;
        }
        .header-style{
            padding: 0rem;
            text-align: left;
        }
        .p-especialidad{
            padding: 2rem 2rem 0rem 0rem;
            max-width: 60rem;
        }
        /*      FieldSet         */
        .fieldset-contact{
            margin: 0 4rem;
            padding: 0 1rem ;
        }
        .contact-imput{
            width: 10rem;
        }
        .contact-textarea{
            height: 5rem;
            width: 44rem;
        }
        /*      Servicios        */
        .p-servicios {
            margin: 0 3rem;;
        }
         /*      Galeria      */
        .carousel-width {
            width: 25rem;
        }
        .galery-img-scale{
            width: 25rem;
            height: 25rem;
        }
        .d-block-row{
            display: block;
            flex-direction: row;
        }
        .f-row{
            flex-direction: row;
        }
        .ps-3{
            padding-left: 1rem !important;
        }
        /*      Promociones      */
        .col-promo{
            display: flex;
            justify-content: end;
            padding-right: 2rem;
        }
    }
}
@media screen and (min-width: map-get($breakpoints, 1200)) {
    .main-wrapper {
        .p-style{
            max-width: 45rem;
        }
          /*      Servicios        */
        .p-servicios {
            margin: 0 5rem;;
        }
        /*      Promociones      */
        .promo-img-scale {
            width: 20rem;
            height: 100%;
        }
        .row-promo{
            padding: 0 0 1rem 0;
        }
    }
}